force-app/main/default/flows/Commission_Auto_Calculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Automatically creates commission records when a listing is sold or policy is activated</description>
    <interviewLabel>Commission Auto Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commission Auto Calculate - Listing Sold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Sold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Listing_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>

    <!-- Variable for Agent Record -->
    <variables>
        <name>varAgent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent__c</objectType>
    </variables>

    <!-- Formula for Commission Amount (3% of sale price) -->
    <formulas>
        <name>CalculatedCommission</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Sale_Price__c}), {!$Record.List_Price__c} * 0.03, {!$Record.Sale_Price__c} * 0.03)</expression>
    </formulas>

    <!-- Decision: Check if Status is Sold -->
    <decisions>
        <name>Check_If_Sold</name>
        <label>Check If Sold</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>End_No_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sold</defaultConnectorLabel>
        <rules>
            <name>Is_Newly_Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Listing_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent</targetReference>
            </connector>
            <label>Is Newly Sold</label>
        </rules>
    </decisions>

    <!-- Get Agent Record -->
    <recordLookups>
        <name>Get_Agent</name>
        <label>Get Agent</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent__c</elementReference>
            </value>
        </filters>
        <object>Agent__c</object>
        <outputReference>varAgent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Commission_Rate__c</queriedFields>
    </recordLookups>

    <!-- Create Commission Record -->
    <recordCreates>
        <name>Create_Commission</name>
        <label>Create Commission Record</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Agent__c</field>
            <value>
                <elementReference>$Record.Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Listing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <elementReference>CalculatedCommission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Type__c</field>
            <value>
                <stringValue>Real Estate Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- End - No Action -->
    <assignments>
        <name>End_No_Action</name>
        <label>End - No Action</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varAgent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAgent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
